@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-outline-success" asp-controller="Students" asp-action="Index">View Students</a>.</p>

</div>
